@use '../../App.scss';
@use '../../static/styles/scss/01_abstracts/index' as *;

.container {
  &.about-page {
    display: flex;

    .text-zone {
      max-width: 575px;
    }
  }
}

.stage-cube-container {
  width: 50vw;
  height: 100%;
  top: 0;
  padding-top: calc(50vh - 150px);
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  display: none;

  @include mq(xxl) {
    display: unset;
  }
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 150px);

  div {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(255, 189, 134);
    background: rgba(232, 112, 66, 0.15);
    text-align: center;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px rgb(212, 79, 12);
  }

  .face1 {
    transform: translateZ(150px);
    color: #f16524;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(150px);
    color: #2465f1;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    color: #f8dc3d;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    color: #61dafb;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    color: #e84e31;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(150px);
    color: #9d56f7;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(90deg);
  }
}
