@use '../01_abstracts/mixins' as *;

@font-face {
  font-family: 'La Belle Aurore';
  src: url('../../../fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('../../../fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

:root {
  // Accent color
  --accent-1: #e87042;

  // Dark color
  --dark-1: #181818;
  --dark-2: #282c34;
  --dark-3: #4d4d4e;
  --dark-4: #444;

  // Light color
  --light-1: #fdfdfd;
  --light-2: #8d8d8d;

  // Fonts
  --font-1: 'La Belle Aurore';
  --font-2: 'PT Sans', sans-serif;
  --font-3: 'Coolvetica', cursive;

  // Navbar
  --navbar-size: 4rem;
}
