@use '../../static/styles/scss/01_abstracts/index.scss' as *;
@use '../../App.scss';

.home-page {
  display: flex;
  justify-content: space-between;

  .text-zone {
    @include mq(lg) {
      min-width: 500px;
    }

    @include mq(xl) {
      min-width: 600px;
    }

    @include mq(xxl) {
      min-width: 700px;
    }
  }

  h1 {
    color: var(--light-1);
    font-size: clamp(1.9rem, 5vw, 5rem);
    font-family: 'Coolvetica';
    font-weight: 400;
    line-height: 1.1;
    margin: 0;

    &::before {
      display: none;
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: var(--accent-1);
      font-size: 18px;
      position: absolute;
      margin-left: 3.5rem;
      margin-top: -1.2rem;
      left: 0;
      opacity: 0.75;

      @include mq(lg) {
        display: unset;
      }
    }

    &::after {
      content: '<h1/>';
      display: none;
      font-family: 'La Belle Aurore';
      color: var(--accent-1);
      font-size: 18px;
      position: absolute;
      margin-top: clamp(1.2rem, 4.5vw, 3.9rem);
      margin-left: 1.2rem;
      opacity: 0.75;

      @include mq(lg) {
        display: unset;
      }
    }

    img {
      width: clamp(1.5rem, 3.8vw, 3.5rem);
      margin-left: 15px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1.4s linear both;
      animation-delay: 1.4s;
    }
  }

  p {
    color: var(--light-2);
    font-weight: 400;
    font-size: clamp(0.75rem, 5vw, 0.9rem);
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1.5px;
    animation: fadeIn 1s 1.8s backwards;
    margin: 2.5rem 0;
  }
}
